---
import dayjs from "dayjs";
const { desc, url, date, tags} = Astro.props;
---

<div
  class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]"
>
<div class="hero-content flex-col md:flex-row">
    <div class="grow w-full space-x-2">
        <span class="py-1 text-1xl font-bold">{dayjs(date).format("ll")}</span>
        <span class="py-1 text-1xl font-light">{desc}</span>
        <div class="card-actions justify-end">
            {
            tags &&
                tags.map((tag) => <div class="badge badge-outline">{tag}</div>)
            }
        </div>
    </div>
</div>
</div>
